body {
    background-color: #d7e6fa;
}

#nav {
    height: 80px;
    background-color: #63a3f7;
}

#pagenav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
}

#chroom {
    color: #000;
    font-size: 32px;
    padding-left: 20px;
    text-decoration: none;
}

#bottom {
    background-color: #63a3f7;
    margin-top: 40px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

#title {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

#pageisi {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#addfooddiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#orderDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #a59ff9;
    border-radius: 20px;
    width: 480px;
}

button {
    margin-top: 20px;
    width:160px;
    border-radius:12px;
}

#buttongroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#orderdetaildiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
