body {
    background-color: antiquewhite;
}

#nav {
    height: 80px;
    background-color: rgb(247, 182, 99);
}

#pagenav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
}

#chroom {
    color: rgb(90, 90, 90);
    font-size: 32px;
    padding-left: 20px;
    text-decoration: none;
}

#bottom {
    height: 80px;
    background-color: rgb(247, 182, 99);
}

#title {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

#statuspicture {
    align-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 70%;
}

#group {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#judulRincian {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

#state {
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px;
    padding-left: 32px;
    padding-right: 32px;
    width: 60%;
    background-color: rgb(127, 204, 255);
    border-radius: 12px;
    max-width: 400px;
    max-height: 300px;
}

#buttondiv {
    display: flex;
    justify-content: space-around;
}

#statusPesanan {
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: rgb(255, 194, 41);
    border-radius: 12px;
}