body {
  background-color: antiquewhite;
}

#nav {
  height: 80px;
  background-color: rgb(247, 182, 99);
}

#pagenav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 16px;
}

#chroom {
  color: rgb(90, 90, 90);
  font-size: 32px;
  padding-left: 20px;
  text-decoration: none;
}

#bottom {
  background-color: rgb(247, 182, 99);
  margin-top: 40px;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

#menu .row > :nth-child(odd) {
  background-color: #ffc4ac;
}

#menu .row > :nth-child(even) {
  background-color: #fcd894;
}

#menu-header.row > :nth-child(odd) {
  background-color: #f2a36f;
}

#menu-header.row > :nth-child(even) {
  background-color: #f2c46f;
}

.action {
  cursor: pointer;
}

.action:hover {
  background-color: #ddd !important;
}
