<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Site</title>
    <link
      rel="stylesheet"
      href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="/css/admin.css"
    />
  </head>
  <body>
    <div id="nav">
      <div id="pagenav">
          <a id="chroom" href="/">Chroom Eatery</a>
      </div>
  </div>
    <div class="container">
      <div>
        <h1 id="title">Admin Site</h1>
        <div th:if="${param.addfood}" class="alert alert-success">
          Food has been added
        </div>
        <div id="pageisi">
            <div id="addfooddiv">
              <a class="btn btn-primary" id="addfood" th:href="@{/admin/add-food}">
                Add new food
              </a>
            </div>
            
            <div id="orderdetaildiv">
              <div id="orderDetail">
                <p>Current Order Id :</p>
                <p id="orderId"></p>
                <p>Current Order Status :</p>
                <p id="orderState"></p>
                <p>Message :</p>
                <p id="orderMessage"></p>
  
                <div id="buttongroup">
                  <button id="setOrder">Set Order</button>
                  <button id="prepareOrder">Prepare Order</button>
                  <button id="cookingOrder">Cooking Order</button>
                  <button id="finishOrder">Finished Order</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div id="bottom">Chroom Eatery 2020</div>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/track/trackAdmin.js"></script>
  </body>
</html>

