<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Order Status Customer</title>
    <link
            rel="stylesheet"
            href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="/css/customer.css"
    />
</head>
<body>
    <div id="nav">
        <div id="pagenav">
            <a id="chroom" href="/">Chroom Eatery</a>
        </div>
    </div>
    <div class="container">
        <div>
            <h1 id="title">Customer site</h1>
            <div id='statuspicture'>
            </div>
            <div id="group">
                <div id="state">
                    <p id="judulRincian">Data Pesanan</p>
                    <p th:text="'Current Order ID : ' + ${order_id}"></p>
                    <p th:text="'Current Order Status : '"></p>
                    <p id="status" th:text="${order_status}"></p>
                    <p th:text="'Message : ' + ${message}"></p>
                    <div id="buttondiv">
                        <button id="add" onclick="window.location.href='/';">Add order</button>
                        <button id="cancel" onclick="window.location.href='track-customer/cancel-order';">Cancel order</button>
                        <button id="finish" onclick="window.location.href='track-customer/finish-order';">
                            Finish Order
                        </button>
                    </div>

                </div>
                <div id="statusPesanan">
                    <p id="judulRincian">Rincian Pesanan</p>
                    <div class="row font-weight-bold">
                        <div class="col-1">Id</div>
                        <div class="col-3">Name</div>
                        <div class="col-5">Description</div>
                        <div class="col-1">Price</div>
                        <div class="col-1">Amount</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bottom">Chroom Eatery 2020</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/track/customer.js"></script>
</body>
</html>
