<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Order Status Admin</title>
    <link
            rel="stylesheet"
            href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
    />
</head>
<body>
<div class="container">
    <div>
        <h1>Order Admin site</h1>
        <ul>
            <li>
                 <p th:text="'Current Order ID : ' + ${current_order_status_id}"></p>
                <p th:text="'Current Order Status : ' + ${current_order_status_state}"></p>
                <p th:text="'Message : ' + ${message}"></p>
                <p th:text="${order_error_message}"></p>
                <a th:href="@{/track-admin/set-order}">Set Order</a>
                <br>
                <a th:href="@{/track-admin/prepare-order}">Prepare Order</a>
                <br>
                <a th:href="@{/track-admin/cooking-order}">Cooking Order</a>
                <br>
                <a th:href="@{/track-admin/finished-cooking-order}">Finished Cooking Order</a>
            </li>
        </ul>
    </div>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
