<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Order Status Customer</title>
    <link
            rel="stylesheet"
            href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"
    />
</head>
<body>
<div class="container">
    <div>
        <h1>Customer site</h1>
        <ul>
            <li>
                <p th:text="'Current Order ID : ' + ${order_id}"></p>
                <p th:text="'Current Order Status : ' + ${order_status}"></p>
                <p th:text="'Message : ' + ${message}"></p>
                <a th:href="@{/track-customer/add-order}">Add order</a>
            </li>
        </ul>
    </div>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
