<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <title>Chroom | Account</title>
  </head>
  <body>
    <h1>Account Page</h1>
    <p th:text="${'Hi ' + username + '!'}"></p>
    <a th:href="@{/account/logout}">Logout</a>
  </body>
</html>
